## 리스트 자료형

### 리스트 만들고 사용하기

In [1]:
a = []
b = [1, 2, 3]
c = ['a', 'b', 'c']
d = [1, 2, 'a', 'b']
e = [1, 2, ['a', 'b']]

In [2]:
print(a)
print(b)
print(c)
print(d)
print(e)

[]
[1, 2, 3]
['a', 'b', 'c']
[1, 2, 'a', 'b']
[1, 2, ['a', 'b']]

### 리스트 인덱싱과 슬라이싱

In [3]:
# 리스트 인덱싱
b[0]

1

In [4]:
b[-1]

3

In [5]:
e[-1]

['a', 'b']

In [6]:
e[-1][-0]

'a'

In [7]:
a = [1, 2, 3, 4, 5]

In [8]:
# 리스트 슬라이싱
a[0:3]

[1, 2, 3]

In [9]:
a[:3]

[1, 2, 3]

In [10]:
a[2:4]

[3, 4]

In [11]:
a[3:]

[4, 5]

In [12]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]

In [13]:
a[2:5]

[3, ['a', 'b', 'c'], 4]

### 리스트 연산하기

In [14]:
# 리스트끼리 연산
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [15]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [16]:
# 리스트의 길이
len(a)

3

### 리스트의 수정과 삭제

In [17]:
a[2] = 4 # 재할당으로 리스트 값 수정 가능

In [18]:
a

[1, 2, 4]

In [19]:
# cf. 문자열은 재할당 불가
str1 = 'abc'
str1[2] = 'd'

TypeError: 'str' object does not support item assignment

### 리스트 관련 함수

In [21]:
# 요소 추가 append 
## 하나의 요소만을 받음
a = [1, 2, 3]
a.append(4) 
a

[1, 2, 3, 4]

In [22]:
a.append(5)
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [25]:
a.append([7, 8])

In [26]:
# 정렬 sort
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [27]:
# 역순으로 reverse
a = [1, 4, 3, 2]
a.reverse()
a

[2, 3, 4, 1]

In [29]:
# 내림차순으로 정렬
a.sort(reverse=True)
a

[4, 3, 2, 1]

In [30]:
# 위치 반환(찾기) index
a = [1, 2, 3]
a.index(3)

2

In [32]:
a.find(3) # find / index 둘 다 적용 가능한 문자열과 달리 리스트는 find X

AttributeError: 'list' object has no attribute 'find'

In [33]:
# 원하는 위치에 요소 삽입 insert
a = [1, 2, 4]
a.insert(2, 3) # 위치, 값
a

[1, 2, 3, 4]

In [34]:
# 원하는 값 삭제 remove
a = [1, 2, 3, 1, 2, 3]
a.remove(3) # 여러 개가 있는 경우 가장 맨앞에 있는 하나만 삭제
a

[1, 2, 1, 2, 3]

In [36]:
# 마지막 요소 삭제 pop
a = [1, 2, 3]
a.pop() # 가장 마지막에 있는 요소를 끄집어내서 지워줌

a

[1, 2]

In [37]:
# 개수 세기 count
a = [1, 2, 3, 1]
a.count(1)

2

In [38]:
# 확장 extend
a = [1, 2, 3]
a.extend([4]) # 리스트로 넣어줘야 함

In [39]:
a

[1, 2, 3, 4]

In [40]:
[1, 2, 3] + [4] # 연산자로 리스트 연결해주는 것과 같은 원리

[1, 2, 3, 4]

## 튜플 자료형

### 튜플 vs 리스트

In [43]:
t1 = ()
t2 = (1, )
# cf. t2 = (1) -> 숫자로 인식
t3 = (1, 2, 3)
t4 = ('a', 'b', ('ab', 'cd'))
print(t1)
print(t2)
print(t3)
print(t4)

()
(1,)
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

### 튜플 다루기

In [44]:
# 튜플 인덱싱 / 슬라이싱
t3[2]

3

In [45]:
t3[2] = 4 # 리스트와 달리 수정이나 삭제 불가

TypeError: 'tuple' object does not support item assignment

In [46]:
t3[:2]

(1, 2)

In [47]:
a = (1, 2, 3)
b = (4, 5, 6)
a + b

(1, 2, 3, 4, 5, 6)

In [48]:
a * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [49]:
len(a)

3

In [50]:
# 괄호 생략해도 튜플로 인식함
a = (1, 2, 3)
b = 1, 2, 3
print(a)
print(b)

(1, 2, 3)
(1, 2, 3)

## 딕셔너리 자료형

### 딕셔너리란?
- key / value

In [51]:
dic = {'name': 'aaa', 'mobile': '010-0000-0000', 'birth': '220428'}
dic

{'name': 'aaa', 'mobile': '010-0000-0000', 'birth': '220428'}

In [52]:
# 여러 값을 가지는 리스트나 튜플을 key값으로 넣어줄 수는 없음
a = {[1, 2, 3]: 1}

TypeError: unhashable type: 'list'

In [53]:
# value값은 아무 자료형이나 상관 없음
a = {1: [1, 2, 3]}
a

{1: [1, 2, 3]}

### 딕셔너리 쌍 추가하기 / 삭제하기

In [54]:
dic['email'] = 'aaa@aaa.com'

In [55]:
dic

{'name': 'aaa',
 'mobile': '010-0000-0000',
 'birth': '220428',
 'email': 'aaa@aaa.com'}

In [57]:
dic['name'] = 'bbb' # 재할당

In [58]:
dic

{'name': 'bbb',
 'mobile': '010-0000-0000',
 'birth': '220428',
 'email': 'aaa@aaa.com'}

### 딕셔너리 관련 함수

In [59]:
# key 리스트 만들기 keys()
dic.keys()

dict_keys(['name', 'mobile', 'birth', 'email'])

In [60]:
type(dic)

dict

In [61]:
a = dic.keys()
type(a)

dict_keys

In [62]:
list(a) # dict_keys -> list로 전환

['name', 'mobile', 'birth', 'email']

In [63]:
# value 리스트 만들기 values
list(dic.values())

['bbb', '010-0000-0000', '220428', 'aaa@aaa.com']

In [64]:
# key, value 쌍 튜플로 얻기 items()
dic.items()

dict_items([('name', 'bbb'), ('mobile', '010-0000-0000'), ('birth', '220428'), ('email', 'aaa@aaa.com')])

In [65]:
list(dic.items())

[('name', 'bbb'),
 ('mobile', '010-0000-0000'),
 ('birth', '220428'),
 ('email', 'aaa@aaa.com')]

In [66]:
a = list(dic.items())
a[0]

('name', 'bbb')

In [67]:
a[0][0]

'name'

In [69]:
# key로 value 얻기 get()
dic.get('name')

'bbb'

In [70]:
dic['name']

'bbb'

In [74]:
# 두 방법 비교: 없는 걸 찾는 경우
dic['address'] # error

KeyError: 'address'

In [73]:
dic.get('address')

In [75]:
dic.get('address', 9999) # 없는 경우 9999 반환

9999

In [76]:
dic.get('name', 9999)

'bbb'

In [77]:
# 해당 값이 있는지 조사하는 in
l1 = [1, 2, 3, 4]
t1 = (1, 2, 3, 4)
1 in l1

True

In [79]:
1 in t1

True

In [80]:
# key가 딕셔너리 안에 있는지
'bbb' in dic

False

## 집합 자료형

### 집합 자료형 만들기

In [81]:
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [82]:
s2 = set("Hello") # 순서 없음, 중복 제거
s2

{'H', 'e', 'l', 'o'}

In [84]:
# 순서가 없기 때문에 인덱싱 작업 불가
s2[0]

TypeError: 'set' object is not subscriptable

In [85]:
# 리스트에서 중복되는 자료 제거하고 싶을 때 활용 가능
a = [1, 2, 3, 4, 5, 2, 4 ,3, 5 ,6]
a = list(set(a))
a

[1, 2, 3, 4, 5, 6]

In [87]:
# 문자열에서도 중복되는 자료 제거 
a = 'abcdabcdfgesdf'
a = ''.join(set(a))
a

'edfgabsc'

### 교집합, 합집합, 차집합 구하기

In [89]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
# 교집합 & 
s1 & s2

{4, 5, 6}

In [90]:
# 교집합 intersection
print(s1.intersection(s2))
print(s2.intersection(s1))

{4, 5, 6}
{4, 5, 6}

In [91]:
# 합집합 |
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [92]:
# 합집합 union
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [93]:
# 차집합 -
s1 - s2

{1, 2, 3}

In [94]:
# 차집합 difference
s1.difference(s2)

{1, 2, 3}

In [95]:
# 값 추가하기
s1.add(7)
s1

{1, 2, 3, 4, 5, 6, 7}

In [96]:
s1.update((8, 9)) # update 함수에 튜플 형태로 넣어서 여러 개 한꺼번에 추가 가능

In [97]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [98]:
# 특정한 값을 지우는 경우 remove
s1.remove(2)

In [99]:
s1

{1, 3, 4, 5, 6, 7, 8, 9}

## 불 자료형

In [100]:
a = True
b = False

In [101]:
type(a)

bool

In [102]:
1 == 1 # 조건문

True

In [103]:
print(bool('a')) # 문자열에 무언가 하나 들어가 있으면 True
print(bool()) # 비어있으면 false

True
False

In [104]:
print(bool([1, 2, 3]))
print(bool([])) # 리스트도 비어있으면 false

True
False

In [105]:
print(bool(2))
print(bool(None))
print(bool(0)) # 0은 false

True
False
False

In [106]:
a = [1, 2, 3]

In [107]:
a_new = a # 복사

In [108]:
a_new

[1, 2, 3]

In [109]:
a_new[0] = 4
a_new

[4, 2, 3]

In [110]:
a # 원본도 마찬가지로 바뀜
# 원본이랑 복사본이랑 연결되어 있음

[4, 2, 3]

#### 원본 =|= 복사본1: [:]

In [111]:
b = a[:]
b

[4, 2, 3]

In [112]:
b[0] = 5
b

[5, 2, 3]

In [113]:
a # 원본은 바뀌지 않음
# 대괄호 콜론을 이용해서 복사

[4, 2, 3]

#### 원본 =|= 복사본2: .copy()

In [114]:
import copy

In [115]:
b = copy.copy(a)
b

[4, 2, 3]

In [116]:
b[0] = 5
print(a)
print(b)

[4, 2, 3]
[5, 2, 3]

In [117]:
a = 'a'
b = 'b'
a, b = 'a', 'b'

In [118]:
print(a)
print(b)

a
b

In [119]:
[a, b] = ['a', 'b']
print(a)
print(b)

a
b

In [120]:
a = b = 'a'
print(a)
print(b)

a
a

In [121]:
a = 3
b = 5
a, b = b, a # a <-> b

# 제어문

## 선택문
- 조건식이 만족하면 한 번 실행, 만족하지 않으면 해당 구간 건너뜀

### if

In [122]:
member = input('회원이십니까?(y/n)')
if member == 'y':
    print('어서 오십시오')

회원이십니까?(y/n)y
어서 오십시오

### if-else

In [123]:
member = input('회원이십니까?(y/n)')
if member == 'y':
    print('어서 오십시오')
else:
    print("회원가입을 해주세요.")

회원이십니까?(y/n)n
회원가입을 해주세요.

### if-elif

In [124]:
age = int(input("나이 입력: "))
price = 20000

if 1 <= age < 6:
    print("입장료는 무료입니다.")
elif 6 <= age < 60:
    print("입장료는", price, "원입니다.")
elif age >= 60:
    print("입장료는", price*0.5, "원입니다.")

나이 입력: 23
입장료는 20000 원입니다.

In [126]:
age = int(input("나이 입력: "))
price = 20000

if 1 <= age < 6:
    print("입장료는 무료입니다.")
elif 6 <= age < 60:
    print("입장료는", price, "원입니다.")
elif age >= 60:
    print("입장료는", price*0.5, "원입니다.")
else:
    print("1살 이상의 나이를 입력해 주세요.")

나이 입력: 0
1살 이상의 나이를 입력해주세요

### 중첩 선택문

In [128]:
id1 = input("아이디: ")
pwd2 = input("비밀번호: ")

if id1 == 'admin':
    if pwd2 == '1234':
        print("로그인 성공")
    else:
        print("패스워드 오류")
else:
    print("아이디 오류")

아이디: admin
비밀번호: 1234
로그인 성공

## 반복문과 기타 제어문

### for문

In [129]:
range(10)

range(0, 10)

In [131]:
range(0, 10, 2)

range(0, 10, 2)

In [132]:
for i in range(5):
    print('*' * (i+1))

*
**
***
****
*****

In [133]:
odd = [1, 3, 5, 7, 9] # 리스트 
for i in odd:
    print(i+1, end=' ') # end 파라미터: 공백으로 끝내줌

2 4 6 8 10

In [134]:
for i in 'Python': # 문자열
    print(i, end=" ")

P y t h o n

### while문

In [137]:
year = 1
while year <= 3:
    print("서당개", year, "년")
    year += 1
    
print("풍월을 읊습니다.")

서당개 1 년
서당개 2 년
서당개 3 년
풍월을 읊습니다.

In [141]:
num = int(input("단 입력: "))

for i in range(1, 10):
    print('%d x %d = %d' % (num, i, num * i))

단 입력: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

In [142]:
num = int(input("단 입력: "))

i = 1
while i <= 9:
    print('%d x %d = %d' % (num, i, num * i))
    i += 1

단 입력: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

### 기타 제어문

In [143]:
while True:
    num = int(input("번호 입력(종료 0): "))
    if num == 0:
        break
    print("while 무한루프로 반복 중")

번호 입력(종료 0): 1
while 무한루프로 반복 중
번호 입력(종료 0): 0

In [145]:
for i in range(1, 31):
    if i % 7 == 0:
        print('7의 배수: ', i)

7의 배수:  7
7의 배수:  14
7의 배수:  21
7의 배수:  28

In [146]:
for i in range(1, 31):
    if i % 7 != 0:
        continue
    print('7의 배수: ', i)

7의 배수:  7
7의 배수:  14
7의 배수:  21
7의 배수:  28

In [ ]:
### 중첩 반복문

- while & while

In [149]:
while True: # 무한 반복
    num = int(input("단 입력(종료 0) "))
    if num == 0:
        break 
    i = 1
    while i <= 9:
        print('%d x %d = %d' % (num, i , num * i))
        i += 1
print("구구단 프로그램 종료")

단 입력(종료 0) 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
단 입력(종료 0) 0
구구단 프로그램 종료

- while & for

In [1]:
alpha = {'A': '1!', 'B': '2@', 'C': '3#', 'D': '4$', 'E': '5%'}
while True:
    code = ''
    word = input('대문자 A-E 단어 입력(종료 0): ')
    if word == '0':
        break
    for ch in word:
        code += alpha[ch] # 문자열 연결하기
    print('단어: ', word, '암호코드: ', code, '\n')
print('암호코드 변환 프로그램 종료')

대문자 A-E 단어 입력(종료 0): ABC
단어:  ABC 암호코드:  1!2@3#

대문자 A-E 단어 입력(종료 0):
단어:   암호코드:

대문자 A-E 단어 입력(종료 0): 0
암호코드 변환 프로그램 종료

for & while

In [153]:
start = int(input("시작단 입력: "))
end = int(input("종료단 입력: "))
for num in range(start, end+1):
    i = 1
    while i <= 9: 
        print('%d x %d = %d' % (num, i , num * i))
        i += 1
print("구구단 프로그램 종료")

시작단 입력: 1
종료단 입력: 9
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
구구단 프로그램 종료

for & for

In [155]:
main = ['참치', '불고기']
side = ['오이', '계란']
i = 1
for m in main:
    for s in side:
        print(i, m + "+" + s + "+단무지")
        i += 1

1 참치+오이+단무지
2 참치+계란+단무지
3 불고기+오이+단무지
4 불고기+계란+단무지